.expandcollapsebutton {
  margin-top: -7px;
}

.container {
  max-width: 37rem;
}

.right-input {
  text-align: right;
}

.right-label {
  padding-right: 25px !important;
}

.form-heading {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
